.sidebar {
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  justify-content: space-between;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

.nodes {
  height: 30%;
  /* background-color: yellow; */
  width: 100%;
  padding: 1em;
  overflow-y: scroll;
  border: 1px solid black;
  scroll-behavior: smooth;
}

.label {
  text-align: center;
}

.list {
  /* background-color: blue; */
  padding: 0.5em;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  justify-content: space-between;
  /* align-items: center; */
}

.list li {
  background-color: #c1c2c1;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.list li:hover {
  cursor: pointer;
  background-color: #e1efe2;
}

.list .clicked {
  background-color: #12daa2;
}
