.formContainer {
  /* background-color: yellow; */
  font-size: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

.nodeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 2em;
  /* background-color: green; */
  /* border: 1px solid black; */
}

.nodeBtn {
  padding: 1em 2em;
  background-color: #d1d2d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.cancelBtn {
  padding: 1em 2em;
  background-color: #d1d2d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  padding: 1em 1em;
  margin: 1em auto;
  width: 60%;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 40%));
  row-gap: 1em;
  align-items: center;
}

.form input {
  /* width: 50%; */
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  padding: 0 0.4em;
}

.form select {
  /* width: 50%; */
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  padding: 0 0.4em;
}

.submit {
  width: 20%;
  aspect-ratio: 3/1;
  padding: 1em 2em;
  background-color: #d1d2d3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: #a989a4;
}

.origSelect {
  display: none;
}
.users {
  max-height: 40%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  justify-items: start;
  align-items: center;
  margin: 1em 0;
  padding: 1em 1em;
  border: 2px solid black;
}

.users .item {
  background-color: #c1c2c1;
  padding: 1em 2em;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  /* justify-content: space-between; */
  gap: 0.5em;
  font-size: 1rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}

.users .item label {
  font-size: 0.8rem;
}

.users .itemClicked {
  background-color: #12daa2;
}

.users .item input {
  display: none;
}

.users .item label {
  cursor: pointer;
}
