@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");

.container {
  width: 80%;
  margin: 4em auto;
  margin-bottom: 0;
  padding: 1em 1em;
  min-height: 80vh;
  position: relative;
  /* top: -70rem; */
  /* left: 0; */
  display: grid;
  place-items: center;
  background-color: transparent;
  /* z-index: 2; */
}
.blog {
  width: 20%;
  aspect-ratio: 5/7;
  position: absolute;
  /* display: flex; */
  border: 1px solid rgb(12, 62, 215);
  border-radius: 1rem;
  overflow: hidden;
  z-index: 10;
}

.blogDiv4 {
  transform-origin: bottom;
  transform: rotateZ(15deg);
  background-color: rgba(25, 135, 75, 0.5);
  transition: transform 300ms ease-out;
}
.blogDiv3 {
  transform-origin: bottom;
  transform: rotateZ(0deg);
  background-color: green;
  background-color: rgba(35, 35, 135, 0.5);
  transition: transform 300ms ease-out;
}
.blogDiv2 {
  transform-origin: bottom;
  transform: rotateZ(-8deg);
  background-color: brown;
  background-color: rgba(35, 135, 35, 0.5);
  transition: transform 300ms ease-out;
}
.blogDiv1 {
  transform-origin: bottom;
  transform: rotateZ(-20deg);
  background-color: pink;
  background-color: rgba(135, 35, 35, 0.5);
  transition: transform 300ms ease-out;
}

.container:hover {
  min-height: 70vh;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.container:hover .blogDiv4 {
  transform: translate(200%, 0%);
  background-color: rgba(24, 52, 216, 0.3);
  /* margin-top: 2em; */
}
.container:hover .blogDiv3 {
  transform: translate(60%, 0%);
  background-color: rgba(24, 52, 216, 0.3);
  /* margin-bottom: 2em; */
}
.container:hover .blogDiv2 {
  transform: translate(-60%, 0%);
  background-color: rgba(24, 52, 216, 0.3);
  /* margin-bottom: 2em; */
}
.container:hover .blogDiv1 {
  transform: translate(-200%, 0%);
  background-color: rgba(24, 52, 216, 0.3);
  /* margin-top: 2em; */
}
.postData {
  width: 80%;
  max-height: 40%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  /* inset: 0; */
  margin: 0 auto;
  text-align: center;
  z-index: 20;

  color: white;
  font-weight: 700;
  font-size: clamp(0.1rem, 1vw, 1rem);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  /* place-items: center; */
  justify-content: space-evenly;
  align-items: center;
}

.postDesc {
  font-weight: 500;
  /* font-size: 90%; */
  font-size: clamp(0.1rem, 1vw, 1rem);
}
.readMore {
  padding: 0;
  /* background-color: #acacac; */
  display: inline-block;
  width: 50%;
  border-bottom: 1px solid red;
  /* border-radius: 10px; */
  color: #eef;
  /* font-size: 90%; */
  font-size: clamp(0.1rem, 1vw, 1rem);
  transition: transform 400ms;
}

.readMore:hover {
  transform: scale(1.2);
}

.screen {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(32, 49, 208, 0.15),
    rgba(32, 49, 208, 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  z-index: 2;
  position: absolute;
  background-size: 100% 9px;
  inset: 0;
  animation: pan-overlay 22s infinite linear;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screenImage {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* z-index: 1; */
}

.postImage {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* object-position: center; */
  z-index: 1;
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
  animation: pan-image 15s linear infinite;
}

@keyframes pan-image {
  0% {
    object-position: 0% 0%;
  }

  20% {
    object-position: 50% 50%;
  }

  20.0001% {
    /* -- View 2 -- */
    object-position: 100% 100%;
  }

  40% {
    object-position: 100% 80%;
  }

  40.0001% {
    /* -- View 3 -- */
    object-position: 0% 100%;
  }

  60% {
    object-position: 100% 0%;
  }

  60.0001% {
    /* -- View 4 -- */
    object-position: 0% 0%;
  }

  80% {
    object-position: 50% 50%;
  }

  80.0001% {
    /* -- View 5 -- */
    object-position: 80% 10%;
  }

  100% {
    object-position: 0% 100%;
  }
}
