.header {
  /* display: flex; */
  padding: 0.5rem 2rem;
  width: 70%;
  margin: 1rem auto;
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #1a1a1a;
  background: rgba(15, 15, 15, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 150px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.topBar {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid white; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.18); */
  height: 3rem;
  margin-top: 1rem;
}
