@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgba(252, 250, 250, 1);
  /* opacity: 0.8; */
  background-image: radial-gradient(
    #a1b1c1 0.9px,
    rgba(252, 250, 250, 1) 0.9px
  );
  background-size: 26px 26px;
}

.articleContainer {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 6fr 1fr;
}
